<!DOCTYPE HTML>
<html>
<head>
    <title>Blog EMS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/style.css"> 
</head>
<body>
<p>Get your greeting <a href="/greeting">here</a></p>
<!-- Cabecera -->
<header>

    <h1>Este es mi Blog </h1>
</header>
<!-- Contenido -->
<section>
    <b>Libros</b>
    <p>(Contenido de libros)</p>
    <p><ul>
        <li>The Wager</li>
        <li>Nine Princes in Amber</li>
        <li>Leviathan Falls</li>
    </ul></p>
</section>
<section>
    <b>Películas</b>
    <p><ul>
        <li>Ikiru - Akira Kurosawa</li>
        <li>Ran - Akira Kurosawa</li>
        <li>Yojimbo - Akira Kurosawa</li>
    </ul></p>
</section>
<!-- Pie de pagina -->
<footer>
    (c) Evolución y Mantenimiento Software
</footer>
</body>
</html>